.SideDrawer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 300;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.open{
    transform: translateX(0);
}
.Items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Items li{
    margin-bottom: 20px;
}

.CloseButton{
    height: 92px;
    padding: 0 33px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

@media(max-width: 768px){
    .Items{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}